<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Pizzas</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap">
    <link rel="stylesheet" href="/css/carta_carrito.css">
</head>
<body class="catalog-body">
<header class="header">
    <h1 class="title">Carta de Pizzas</h1>
    <button class="btn secondary" id="logoutButton" onclick="cerrarSesion()">Cerrar Sesión</button>
</header>

<main id="pizzaCatalog" class="catalog-container">
    <!-- Aquí se cargan las pizzas dinámicamente -->
</main>

<div class="button-container">
    <button class="btn primary" onclick="irAHacerPedido()">Hacer Pedido</button>
    <button class="btn secondary" onclick="verMisPedidos()">Ver Mis Pedidos</button>
</div>

<script src="/js/carta_pizzas.js"></script>
</body>
</html>