<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración - Pizzeria Pom</title>
    <link rel="stylesheet" href="/css/panel_admin.css">
</head>
<body>
<h1>Panel de administración</h1>
<div class="btn-container">
    <button class= "btn" onclick="mostrarPizzas()">Gestionar Carta de Pizzas</button>
    <button class= "btn" onclick="mostrarPedidos()">Gestionar Pedidos</button>
    <button class="btn secondary" id="logoutButton" onclick="cerrarSesion()">Cerrar Sesión</button>
</div>

<div id="contenido"></div>
<script src="/js/panel_admin.js"></script></body>

</body>
</html>